body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

button {
  border: 0 !important;
  outline: 0 !important;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-blue-400;
  border-radius: 0.25rem;
}
